body {
  background-color: rgba(170, 193, 100, 0.1);
  font-family: sans-serif;
  text-align: center;
  padding: 1em;
}

h1 {
  color: #333;
}

.riga {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

label {
  margin: 0.5em;
  font-weight: bold;
}

input, select {
  width: 220px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #5c7f2b;
  border-radius: 5px;
  text-align: center;
}

input[readonly] {
  background-color: #f0f0f0;
}

button {
  background-color: #AAC164;
  border: 1px solid #5c7f2b;
  padding: 8px 15px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.bottoni {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}